<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/user" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<% if (editing) { %><%= order.email %><% } %>">
            </div>
            <div class="form-control">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" value="<% if (editing) { %><%= order.phone %><% } %>">
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= order.id %>" name="orderId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>